<!DOCTYPE>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' , content='IE=edge' />
    <meta name='viewport' , content='width=device-width, initial-scale=1' />
    <link rel="stylesheet" href="../public/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/stylesheets/Adminuser.css" />
    <link rel="stylesheet" href="../public/stylesheets/default.css" />
    <title>人员管理</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#btn-hide" aria-expanded="false">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                        </button>

                <a class="navbar-brand" href="#">
                            奖学金评比
                        </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <ul class="user-list list-group">
                <li class="user-container list-item">
                    <div class="user-info">
                        <div class="user-info-col">
                            <span class="user-name">张大牛</span><br/>
                            <span class="user-id">12345678</span>
                        </div>
                        <div class="user-info-col">
                            <span class="role">班级</span><br/>
                            <span>5</span>
                        </div>
                        <div class="user-info-col btn-container">
                            <a href='/scholar/judge?userid=12345678'>进入评比</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
    <script src="../public/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>