<!DOCTYPE>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' , content='IE=edge' />
    <meta name='viewport' , content='width=device-width, initial-scale=1' />
    <link rel="stylesheet" href="../public/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/vendor/icheck/skins/line/blue.css" />
    <link rel="stylesheet" href="../public/stylesheets/task-detail.css" />
    <link rel="stylesheet" href="../public/stylesheets/default.css" />
    <title>任务分配详情</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#btn-hide" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    Task Detail
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <ul class="examiner-list">
                <li class="examiner-container well">
                    <h4>张大牛</h4>
                    <ul class="examinee-list">
                        <li class="examinee">张三</li>
                        <li class="examinee">李四</li>
                    </ul>
                </li>
                <li class="examiner-container well">
                    <h4>张大牛</h4>
                    <ul class="examinee-list">
                        <li class="examinee">张三</li>
                        <li class="examinee">李四</li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>

    <script src="../public/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/vendor/icheck/icheck.min.js"></script>
    <script src="../public/javascripts/task-detail.js"></script>
</body>

</html>