html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 文件提交
    link(rel='stylesheet',  href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/bootstrap-fileinput/css/fileinput.min.css')
    style.
      html {
      height: 100%;
      width: 100%;
      }
      body {
      background-color: #333;
      height: 100%;
      width: 100%;
      }
      .middle {
      display: table-cell;
      vertical-align: middle;
      width: 80%;
      }
      .content {
      height: 100%;
      width: 100%;
      display: table;
      }
  body
    .container.content(style='position:relative')
      .middle(enctype="multipart/form-data")
        .form-group
          label(for='#{type}') Select File
          input.file(id='#{type}' type='file' data-show-preview='true' name='#{type}')
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/bootstrap-fileinput/js/fileinput.min.js')
    script(src='vendor/bootstrap-fileinput/js/locales/zh.js')
    if excel
      script(src="/javascripts/upload-excel.js")
    else
      script(src="/javascripts/upload-zip.js")

