.my-btn {
    background-color: #333;
    color: white;
}

.my-btn:hover {
    background-color: #333;
    box-shadow: 0 0 2px 2px white;
    color: white;
}

.dropdown-menu li {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu li:hover {
    width: auto;
    overflow: visible;
}