html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #333;
}

.my-btn {
    background-color: #333;
    color: white;
}

.my-btn:hover {
    background-color: #333;
    box-shadow: 0 0 2px 2px white;
    color: white;
}

.dropdown-menu li {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu li:hover {
    overflow: visible;
}